@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TomatoesFont';
    src: url('./assets/fonts/Tomatoes-O8L8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  